<div class="container-fluid">
<form class="form-horizontal">
  <div class="checkbox">
    <label for="contact-admin">
         <input id="contact-admin" name="admin" type="checkbox" value="admin:1"/>
        Admin Role:
    </label>
  </div>
    <div class="checkbox">
      <label for="contact-creator">
          <input id="contact-creator" name="creator"  type="checkbox" value="creator:1"/>
          Creator Role:
      </label>
    </div>
  <div class="checkbox">
    <label for="contact-review">
        <input id="contact-review" name="review"  type="checkbox" value="review:1"/>
        Reviewer Role:
    </label>
  </div>
  <div class="checkbox">
    <label for="contact-approve">
        <input id="contact-approve" name="approve" type="checkbox" value="approve:1"/>
        Approve Role:
    </label>
  </div>
   <div class="checkbox">
      <label for="contact-supervisor">
          <input id="contact-supervisor" name="supervisor" type="checkbox" value="supervisor:1"/>
          Supervisor Role:
    </label></div>
    <br>
  <button class="btn btn-success js-submit">Save</button>
</form>
</div>