


<!--
<div id="left-panel" class="col-lg-3 col-md-2 col-sm-2 col-xs-2 col-lg-offset-2 col-md-offset-2 animate slideInLeft"></div>
<div id="main-panel" class="col-lg-7 col-md-7 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 animate fadeIn"></div>
<div id="right-panel" class="col-lg-2 col-md-2 hidden-sm hidden-xs animate slideInRight"></div>

-->



<!--

<div id="left-panel" class="left col-lg-3 col-md-3 col-sm-3 hidden-xs animate slideInLeft"></div>
<div id="main-panel" class="col-lg-7 col-md-7 col-sm-9 col-xs-12 animate fadeIn"></div>
<div id="right-panel" class="right col-lg-2 col-md-1 hidden-sm hidden-xs animate slideInRight"></div>
-->

<div class="container-fluid">
    <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 sidebar animated slideInLeft">
                <div id="top-left-panel"></div>
                <div id="left-panel"></div>
            </div>
        </div>
    </div>



<div id="main-panel"  class="col-lg-7 col-lg-offset-2 col-md-7 col-md-offset-2 col-sm-7 col-xs-12 col-sm-offset-2 main animated fadeIn"></div>


<div id="right-panel" style="padding:5px 0 0 5px;" class="right col-xs-12 col-sm-12 col-md-2 col-lg-2 sidebar-right animated slideInRight"></div>

</div>
