

<!--
<div id="topDashboard-panel" class="animated fadeInUp">

</div>
-->
<div class="container">
<br>
<div class="row">
      <div id="main-panel"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animated fadeInUp">

      </div>
</div>
<br>
<div class="row">
        <div id="notify-panel" style="width:47%; min-height:55vh;" class="col-xs-12 pull-left animated fadeInUp"></div>

    <div id="contract-panel" style="width:49%; min-height:55vh;" class="margin-left col-xs-12 pull-right  animated fadeInUp"></div>
</div>

</div>
