<div>
    <div class="wrap-overflay-white"></div><!--end overlay-->
    <h3 class="text-blue">Schedule</h3>
</div>

<!-- <div class="col-lg-3 col-md-3 ol-sm-3 col-xs-3" style="margin:0; padding:5px 0;"><div id="calendar-key"></div></div>-->
<div class="col-lg-4 col-md-4 hidden-sm hidden-xs" style="margin:0; padding:5px 0;">
    <div id="calendar-left"></div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin:0; padding:5px 0;">
    <div id="calendar"></div>
</div>
<div class="col-lg-4 col-md-4 hidden-sm hidden-xs" style="margin:0; padding:5px 0;">
    <div id="calendar-right"></div>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center" style="margin-bottom:20px;">
    <div class="btn-group">

        <div class="btn btn-default circleBtn"><span class="crp">CRP</span></div>
        <div class="btn btn-default circleBtn"><span class="cnr">CNR</span></div>
        <div class="btn btn-default circleBtn"><span class="qcr">QCR</span></div>
        <div class="btn btn-default circleBtn"><span class="icr">ICR</span></div>
        <div class="btn btn-default circleBtn"><span class="ccr">CCR</span></div>
        <div class="btn btn-default circleBtn"><span class="ccs">CCS</span></div>
    </div>
</div>
<br>
