

       <td id="infotoshow" data-toggle="tooltip" data-placement="left" title="Due: <%-String(dateNotify).substr(0,10)%>">
           <div class="h4"><%-String(contractType).toUpperCase()%></div>
        </td>
   <td>
       <div class="h4"><small>Due: <%-String(dateNotify).substr(0,10)%></small></div>
        </td>
       <td>
           <button id="btnPopover" data-type="<%-contractType%>" data-due="<%-dateNotify%>" data-contract="<%-contractId%>" tabindex="0" data-placement="right"  class="top-right js-popover btn btn-xs btn-default" data-toggle="popover" data-content="" >
               <i class="glyphicon glyphicon-option-horizontal"></i></button>
       </td>
<!--data-trigger="focus"-->

