<form class="form-signin col-md-8">
    <h2 class="form-signin-heading"><%-title %></h2>
    <label for="username" class="sr-only">Email address / Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" value="<%- username %>" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required autofocus>
<br><br>
    <a href="#auth/<%- id %>" title="Back" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i></a> <button class="btn btn-primary js-change" type="submit">Sign in</button>
</form>