<form class="form-signin col-md-8">
    <h2 class="form-signin-heading"><%-title %></h2>
    <label for="username" class="sr-only">Email address</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Email address" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required autofocus>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-default js-register" type="button">Register</button>  <button class="btn btn-primary js-submit" type="submit">Sign in</button>
</form>