<!--col-sm-6 col-md-4-->
<div class="card animated fadeInDown">
    <div  class="col-md-4 col-sm-6 clearfix">
        <div class="btn-group top-right" role="group" aria-label="...">
        <a href="#en/contracts/<%-_id %>" class="btn btn-sm btn-default js-show">
            <i class="glyphicon glyphicon-eye-open"></i></a>
        <a href="#en/contracts/<%-_id %>/edit" class="btn btn-sm btn-default js-edit">
            <span class="text-success"><i class="glyphicon glyphicon-pencil"></i></span></a>
        <button class="btn btn-sm btn-default js-delete">
            <span class="text-danger"><i class="glyphicon glyphicon-remove-circle"></i></span></button>
            <button class="btn btn-sm btn-info js-chart">
                <span class="text-info"><i class="glyphicon glyphicon-adjust"></i></span></button>
    </div>
    <div class="thumbnail">
       <div id="chart" style="width:275px;height:275px;max-width:350px;max-height:350px;"></div>
        <div class="caption">
            <h2><%- title %></h2>
            <%if(description.body === ''){%><div class="small">No description ...</div><%}else{%><div class="small"><%-description.body%></div><%}%>
            <small><%- user.username %></small>

        </div>
    </div>
    </div>
</div>