<td><%- user.username %></td>
<td>
<%- title %>
</td>
<td>
<div class="btn-group" role="group" aria-label="...">
      <a href="#contracts/<%- _id %>" class="btn btn-sm btn-default js-show">
        <i class="glyphicon glyphicon-eye-open"></i></a>
      <a href="#contracts/<%- _id %>/edit" class="btn btn-sm btn-default js-edit">
          <span class="text-success"><i class="glyphicon glyphicon-pencil"></i></span></a>
      <button class="btn btn-sm btn-default js-delete">
        <span class="text-danger"><i class="glyphicon glyphicon-remove-circle"></i></span></button>
</div>
</td>
