

<div class="row">

<div class="col-md-6 col-sm-6 col-xs-6">
<div class="btn-group" role="group" aria-label="...">
    <a href="#" title="Back" class="btn btn-default js-back">
        <!--<i class="glyphicon glyphicon-arrow-left"></i>--> Contract List</a>
</div>
    </div>

<div class="col-md-6 col-sm-6 col-xs-6">
    <div class="btn-group pull-right" role="group" aria-label="...">
        <a href="#" type="button" class="btn btn-default js-guid">
           Projects </a>
<!--
    <a href="#" type="button" title="UrsSet Test" class="btn btn-default js-export">
        <i class="glyphicon glyphicon-export"></i> </a>-->
</div>

</div>


</div><!--end row-->





<div class="row">
<div class="well well-lg bg-white">
    <div class="top-right"><small class="text-muted">Updated <%- updated_at %></small></div>

            <h2><%- title %> <small><%- description.body%></small></h2>
       <div class="bg-white" style="border:none;"><h3 class="text-muted"><%-value%></h3></div>
</div>
    </div>







<div class=" patern-tiny-square" style="padding:0 4%;   margin:0 -30px 0px -30px;">
    <div style="height:235px;
    padding: 24px;
  border-radius: 6px;
  margin:0 0 30px 0;
  background:transparent;">

        <div class="col-md-1 col-sm-1 col-xs-1">
            <h2 style="font-size:2em; margin:-45px 0 0 -34px; color:#3d3d3d">
                <i class="glyphicon glyphicon-info-sign"></i>
            </h2>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table-condensed">
                <tr><td style="text-align: right; font-weight: bold;">Value: </td><td><%-value%></td></tr>
                <tr><td style="text-align: right; font-weight: bold;">Start: </td><td><%- startDate%></td></tr>
                <tr><td style="text-align: right; font-weight: bold;">End: </td><td><%- endDate%></td></tr>
                <tr><td style="text-align: right; font-weight: bold;">Assigned to: </td><td><%- user.username %></td></tr>
                <tr><td style="text-align: right; font-weight: bold;">Created: </td><td><%- date_created %></td></tr>
                <!-- <td>Last Updated: </td><dd><%- updated_at %></dd>-->
            </table>
        </div>

        <!-- Nav tabs -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="h2" role="group" aria-label="..." id="contract-view-tabs" >
                <a href="#pricing-tab-id" style="font-size:1em;" class="btn-lg btn btn-primary circleBtn"  aria-controls="pricing-tab-id" role="tab" data-toggle="tab">
                    <i class=" glyphicon glyphicon-gbp"></i>
                </a>
                <!--    <div data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                        <small>Business Units</small>   </div>-->
                <a href="#bsunits-tab-id" style="font-size:1em;" class="btn-lg btn btn-default circleBtn" aria-controls="bsunits-tab-id" role="tab" data-toggle="tab">
                    <i class=" glyphicon glyphicon-list-alt"></i>
                </a>
            </div>
        </div><!--end col-12 tab-->

</div>

</div>









<div role="tabpanel">
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="pricing-tab-id">

            <div class="row" style="padding:0 4%;">
                <div class="well  bg-white">
                    <table class="table table-striped table-bordered small js-dbclick">
                        <thead><tr><td>Pricing List</td><td></td></tr></thead>
                        <tbody>
                        <tr><td>Fixed Pricing:</td><td><%-fixedPricing%></td></tr>
                        <tr><td>Estimated Based Fee:</td><td><%-estBasedFee%></td></tr>
                        <tr><td>Target Pricing:</td><td><%-targetPricing%></td></tr>
                        <tr><td>Cost Plus Pricing:</td><td><%- costPlusPricing%></td></tr>
                        <tr><td>Firm Pricing:</td><td><%-firmPricing%></td></tr>
                        <tr><td>Volume Driven Pricing:</td><td><%-volDrivenPricing%></td></tr>
                        </tbody>
                    </table>


                    <form id="pricing" class="form hidden">
                        <div class="btn-group btn-group-horizontal top-right" role="group" aria-label="..." >
                            <div class="btn-group" role="group">
                                <button class="btn btn-warning btn-sm js-cancel " title="cancel" type="button">
                                    <i class="glyphicon glyphicon-remove-circle"></i></button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="submit" class="btn btn-success btn-sm js-submit" title="save"><i class="glyphicon glyphicon-save"></i></button>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="fixedPricing" class="control-label">Fixed Pricing</label>
                                    <input type="number" class="form-control input-sm" name="pricing[fixedPricing]" id="fixedPricing" value="<%-fixedPricing_edit%>"/>
                                </div>

                                <div class="form-group">
                                    <label for="estBasedFee" class="control-label">Estimated Based Fee</label>
                                    <input type="number" class="form-control input-sm" name="pricing[estBasedFee]" id="estBasedFee" value="<%-estBasedFee_edit%>"/>
                                </div>

                                <div class="form-group">
                                    <label for="targetPricing" class="control-label">Target Pricing</label>
                                    <input type="number" class="form-control input-sm" name="pricing[targetPricing]" id="targetPricing" value="<%-targetPricing_edit%>"/>
                                </div>

                                <div class="form-group">
                                    <label for="costPlusPricing" class="control-label">Cost Plus Pricing</label>
                                    <input type="number" class="form-control input-sm" name="pricing[costPlusPricing]" id="costPlusPricing" value="<%-costPlusPricing_edit%>"/>
                                </div>

                                <div class="form-group">
                                    <label for="firmPricing" class="control-label">Firm Pricing</label>
                                    <input type="number" class="form-control input-sm" name="pricing[firmPricing]" id="firmPricing" value="<%-firmPricing_edit%>"/>
                                </div>
                                <div class="form-group">
                                    <label for="volDrivenPricing" class="control-label">volDrivenPricing</label>
                                    <input type="number" class="form-control input-sm" name="pricing[volDrivenPricing]" id="volDrivenPricing" value="<%-volDrivenPricing_edit%>"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!--end row-->
        </div><!--end pricing tag-->



        <div role="tabpanel" class="tab-pane" id="bsunits-tab-id">

        <div class="row" style="padding:0 4%;">
            <div class="well  bg-white">
                <div class="well">Business Units:</div>
                <form id="businessUnit">
                    <div class="input-group">
                        <input type="text" class="form-control" id="business-units" name="name" placeholder="Add Business">

                        <span class="input-group-btn">
                            <button class="btn btn-success js-business" type="submit">Add</button>
                        </span>
                    </div><!-- /input-group -->
                </form>
                <div class="table-responsive">
                <table class="table table-striped">
                    <thead><tr><td>Business Name</td><td></td></tr></thead>
                <% if(businessUnitNames !== undefined){%>
                    <tbody>
                        <% $.each(businessUnitNames,function(key,value){ %>
                    <tr>
                        <td>
                          <%-value.name%>
                        </td>
                        <td>
                            <button data-id="<%-key%>" class="pull-right btn btn-danger js-removeBusiness" type="button"><i class="glyphicon glyphicon-remove-sign"></i> </button>
                        </td>
                    </tr>
                            <% }); %>
                    </tbody>
                    <% }else{ %>
                    <tbody>
                        <tr>
                            <td>No Business Units</td><td></td>
                        </tr>
                    </tbody>
                <% } %>
                </table>
                    </div>


                </div><!--end col-md-11-->
        </div>


    </div><!--end Business Unit Tab-->

    </div><!--end tab content-->

</div>