


<div class="page-header">
    <h3>Contract Details</h3>
</div>


<div class=" col-lg-2 col-md-3 col-sm-2 sidebar animated fadeInUp">
    <div id="top-left-panel"></div>
    <div id="left-panel"></div>
</div>


<div id="main-panel"  class="col-lg-8 col-md-7 col-sm-8 col-xs-9 animated fadeIn"></div>
<!--col-lg-8 col-lg-offset-2 col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-9-->

<div id="right-panel" style="padding:5px 0 0 5px;" class="right col-lg-2 col-md-2 col-sm-2 col-xs-3 sidebar-right animated slideInRight"></div>

