<form>
<div class="input-group">
    <input type="text" class="form-control" id="comments-body" name="body" placeholder="Add Comment">
    <input type="hidden" class="form-control" id="comments-date" name="date_created" value="<%-date_created%>">
    <input type="hidden" class="form-control" id="comments-username" name="username" value="<%-username%>">
      <span class="input-group-btn">
        <button class="btn btn-success btn-sm js-new" type="submit">Add</button>
      </span>
</div><!-- /input-group -->
</form>

<div class="well well-sm"><%-count%></div>
<% if(comments !== undefined){%>
<ul class="list-group">
    <%  _.each(comments,function(value,key){  %>
    <li class="list-group-item">
      <button data-id="<%-key%>" class="pull-right btn btn-danger btn-xs top-right js-delete" type="button"><i class="glyphicon glyphicon-remove-sign"></i> </button>
   <small><%-value.body%></small><br>
    <small>Date: <%-value.date_created %></small>
<small>By: <%-value.username%></small>
    </li>
<% }); %>
    </ul>
<% }else{ %>
<div class="well well-sm">No Comments</div>
<% } %>