<div class="loadingView">
    <div class="wrap-overflay-black"></div>
    <div class="animated fadeInDown">
<h1 class="text-white"><%- title %></h1>
<p class="text-white"><%- message %></p>
    </div>
<!--<div id="spinner" class="animated fadeInDown"><img src="./assets/img/spinner_32_794cfa28f324131c58c8934183d55d25.gif"></div>-->
    <div id="spinner">
        <div class="btn-lg btn btn-default circleBtn loadingCircleW">
            <img  src="./assets/img/Dassian_large3.gif">
        </div>
    </div>
    <!--style="width:45px;height:45px;"-->
</div>