<div class="col-md-12">
<div class="well well-lg">
    <div class="btn-group-vertical" role="group" aria-label="..." >
            <button class="btn btn-default text-success btn-sm js-new" title="new"><i class="glyphicon glyphicon-plus-sign"></i></button>
    </div>
    <form class="hidden" id="deliverablesNew">
        <div class="btn-group" role="group" aria-label="..." >

                <button class="btn btn-warning btn-sm js-cancelNew" title="cancel" type="button">
                    <i class="glyphicon glyphicon-remove-circle"></i></button>


                <button type="submit" class="btn btn-success btn-sm js-submitNew" title="save"><i class="glyphicon glyphicon-save"></i></button>

        </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="title" id="new-title" value="" placeholder="add Title here" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="description" id="new-description" value="" placeholder="add description" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="comment" id="new-comment" value="" placeholder="add comment" />
                    <input type="hidden" class="form-control" name="date_created" id="date_created" value="<%-data_created%>" />
                </div>
    </form>
    </div>
</div>
    <div class="col-md-12">
        <div class="well well-lg">
    <% if(deliverables){ %>
    <% $.each(deliverables,function(key,value){ %>
    <div class="container-fluid">

<ul class="list-group js-dbclick" data-id="<%-key%>">

    <li data-id="<%-key%>" class="list-group-item"><%-value.title %>
        <div class="btn-group pull-right" role="group">
        <button class="btn btn-default btn-sm js-edit" data-id="<%-key%>" title="edit"><i class="glyphicon glyphicon-edit"></i></button>
        <button data-id="<%-key%>" class="btn btn-danger btn-sm js-delete" title="delete"><i class="glyphicon glyphicon-trash"></i></button>
        </div>
    </li>

</ul>


<form class="hidden" id="form-<%-key%>">
    <div class="btn-group " role="group" aria-label="..." >
            <button class="btn btn-warning btn-sm js-cancel" data-id="<%-key%>"  title="cancel" type="button">
                <i class="glyphicon glyphicon-remove-circle"></i></button>
            <button type="submit" class="btn btn-success btn-sm js-submit" data-id="<%-key%>"  title="save"><i class="glyphicon glyphicon-save"></i></button>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="title" id="title" value="<%-value.title%>" placeholder="Title" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name=description" id="description" value="<%-value.description%>" placeholder="Title" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="comment" id="comment" value="<%-value.comment%>" placeholder="Title" />
    </div>
</form>
</div>
    <% }); %>
    <% } %>
    </div>
</div>