<div role="tabpanel">
    <div class="well well-lg">Reports</div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#CNR" aria-controls="CNR" role="tab" data-toggle="tab">CNR</a></li>
        <li role="presentation"><a href="#CRP" aria-controls="CRP" role="tab" data-toggle="tab">CRP</a></li>
        <li role="presentation"><a href="#CPS" aria-controls="CPS" role="tab" data-toggle="tab">CPS</a></li>
        <li role="presentation"><a href="#QCR" aria-controls="QCR" role="tab" data-toggle="tab">QCR</a></li>
        <li role="presentation"><a href="#ICR" aria-controls="ICR" role="tab" data-toggle="tab">ICR</a></li>
        <li role="presentation"><a href="#CCR" aria-controls="CCR" role="tab" data-toggle="tab">CCR</a></li>
        <li role="presentation"><a href="#CCS" aria-controls="CCS" role="tab" data-toggle="tab">CCS</a></li>
    </ul>


    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="CNR">CNR</div>
        <div role="tabpanel" class="tab-pane" id="CRP">CRP</div>
        <div role="tabpanel" class="tab-pane" id="CPS">CPS</div>
        <div role="tabpanel" class="tab-pane" id="QCR">QCR</div>
        <div role="tabpanel" class="tab-pane" id="ICR">ICR</div>
        <div role="tabpanel" class="tab-pane" id="CCR">CCR</div>
        <div role="tabpanel" class="tab-pane" id="CCS">CCS</div>
    </div>

</div>