



<div class="container-fluid mainNavid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#collapseMainNav" aria-expanded="false" aria-controls="collapseExample">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

        <a id="headerId" class="navbar-brand homeBtn" href="#auth">
       <!--    <div class="col-md-2 col-sm-2 col-xs-2"><i class="glyphicon glyphicon-home" style="padding-top:3px;"></i></div>
            <div class="col-md-5 col-sm-5 col-xs-5"><img id="brandImg" src="assets/img/web_white.png" title="Dassian"/></div>-->
            <img id="brandImg" src="assets/img/web_white.png" title="Dassian"/></a>
        </div>



    <div class="collapse navbar-collapse" id="mainNav collapseMainNav">
    <ul class="nav navbar-nav standard">
    <li class="backBtn"><a href="#"><i class="glyphicon glyphicon-arrow-left"></i></a></li>
      <li>
          <ul class="nav navbar-nav ulNavBar">
          </ul>
      </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
     <!--   <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lang <span class="caret"></span></a>
            <ul class="dropdown-menu  inner-dropdown" role="menu">
                <li><a id="en" class="js-change-language">English</a></li>
                <li><a id="fr" class="js-change-language">French</a></li>
                <li><a id="rs" class="js-change-language">Russian</a></li>
            </ul>
        </li>-->
    <li class="dropdown user">
        <a href="#" class="dropdown-toggle user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i> <span class="user">User</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu auth">
            <li><a href="#" class="Admin">Admin</a></li>
           <li><a href="#auth" class="Login">Login</a></li>
            <li><a href="#auth/logout" class="Logout hidden">Logout</a></li>
        </ul>
    </ul>


     </div><!--/.nav-collapse -->
       <!-- </div>-->
</div>