<div style="width:auto; padding:10px;">
    <div style="text-align: center;">
        <p>Contract Notification Report</p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="col-md-6 col-sm-6">
            Contract Id<br>
            Due Date:05/15/2015
        </div>
    </div>

    <div class="row">
        <div class="h3">Report Details</div>
        <div class="bg-primary">Status:Waiting Approval</div>
        <div class="bg-success">Created:04/10/2015</div>
        <div class="bg-primary">Assigned To:Cholzinger</div>
        <div class="bg-primary">Email:cholzinger@dassian.com</div>
        <div class="bg-primary">Schedule:Name</div>
    </div>
</div>